body {
    margin: 0;
    padding: 0;
    background-image: url(All-files-related-to-this-project/bg-img/pexels-pixabay-268533.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* vertical-align: middle; */
}

.signup_container {
    width: 35vw;
    padding: 40px;
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.650);
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.301); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.signup_container h1 {
    color: white;
}

.icons {
    color: white;
}

.div_2nd form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.div_2nd form input {
    width: 250px;
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 0.5px solid transparent;
    background-color: white;
    padding: 10px;
    transition: 0.3s;
}

.div_2nd form input:focus {
    border-color: deepskyblue;
}

.sign_up_btn {
    width: 100px;
    margin-top: 8px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s;
}

.sign_up_btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px black;
}